html, body {
	width: 100%;
  height: 160%;
	background: #BCEAFE url("Images/ArtStyledBG.png") no-repeat fixed center;
	background-size: cover;
	overflow: auto;
	padding:  20px;
}

* {
	box-sizing: border-box;
  overflow: hidden;
  Font-family: "Trebuchet MS",Tahoma, Verdana;
}

.Thumbnail {
  width: 100px;
  height: 100px;
}

.Icons {
 width: 70px;
 height: 70px;
}

#WebBody {
	Width: 80%;
	Height: 100%;
    Margin: auto;
	Border: 10px double black;
	Padding: 10px;
}

#TopBox {
	Width: 100%;
	Height: 15%;
  Margin: 25px auto;
	Border: 5px solid #076587;
  Background-color: #D8eef1;
	Padding: 20px;
}

#LogoBox {
  float: left;
	width: 25%;
	height: 100%;
}

#Logo {
  Margin-Right: 20px;
}

#WebNameBox {
	float: left;
	Width: 50%;
	height: 100%;
  Margin: auto;
}

#WebName {
	Border: 2px solid #076587;
	Background-color: #1eaee2;
	Text-align: Center;
}

#SearchBox {
	float: right;
	width: 25%;
	height: 100%;
}

#SearchBar {
  Margin-Left: 20px;
	border: 2px solid #076587;
	background-color: #1eaee2;
	padding-top: 0px;
  Text-align: Center;
}
	
#MainBodyBox {
	Float: left;
	Width: 80%;
	Height: 70%;
}

#MainBody {
	Height: 100%;
	Margin-right: 20px;
	Border: 5px solid #076587;
  Background-color: #D8eef1;
	Padding: 20px;
	
}

#RealismArtBox {
  Float: left;
  Width: 50%;
  Height: 25%;
}

#RealismArt {
  Margin: 10px;
  Border: 5px solid #076587;
  Background-color: saddlebrown;
  Padding: 10px;
  Text-align: Center;
}

#SurrealismArtBox {
  Float: left;
  Width: 50%;
  Height: 25%;
}

#SurrealismArt {     
  Margin: 10px;
  Border: 5px solid #076587;
  Background-color: #E7ea7e;
  Padding: 10px;
  Text-align: Center;
}

#PopArtBox {
  Float: left;
  Width: 50%;
  Height: 25%;
}

#PopArt {
  Margin: 10px;
  Border: 5px solid #076587;
  Background-color: #C1297f;
  Padding: 10px;
  Text-align: Center;
}

#PixelArtBox {
  Float: left;
  Width: 50%;
  Height: 25%;
}

#PixelArt {
  Margin: 10px;
  Border: 5px solid #076587;
  Background-color: #1E6F15;
  Padding:10px;
  Text-align: Center;
}

#AsciiArtBox {
  Float: left;
  Width: 100%;
  Height: 25%;
}

#AsciiArt {
  Width: 50%;
  Margin: 10px auto;
  Border: 5px solid #076587;
  Background-color: #B29ec9;
  Padding:10px;
  Text-align: Center;
}

#WebDescBox {
  Float: left;
  Width: 100%;
  Height: 25%;
  Overflow: auto;
}

#WebDesc {
  Margin: 10px;
  Border: 5px solid #076587;
  Background-color: #1eaee2;
  Padding: 10px;
  Text-align: Left;
  Text-indent: 20px;
}

#SideBarBox {
	Float: Right;
	Width: 20%;
	Height: 70%;
}

#SideBar {
	Height: 100%;
	Margin-left: 20px;
	Border: 5px solid #076587;
  Background-color: #D8eef1;
	Padding: 20px;
	Text-align: Center;
}

#Nav {
	Border-Bottom: 5px solid #076587;
	Display:block;
}

