html, body {
	width: 100%;
  height: 160%;
	background: #Ead16d url("../images/SurrealismArtBG.jpg") no-repeat fixed center;
	background-size: cover;
	overflow: auto;
	padding:  20px;
  Font-family: "Copperplate Gothic Light", "Goudy Old Style", "Times New Roman", sans-serif;
  Color: #54307e;
}

* {
	box-sizing: border-box;
  overflow: hidden;
}

a {
  Text-decoration:none;
  Color: #54307e;
}

.Thumbnail {
  width: 120px;
  height: 120px;
}

.Icons {
 width: 70px;
 height: 70px;
}


#WebBody {
	Width: 80%;
	Height: 100%;
  Margin: auto;
	Border: 10px double #54307e;
	Padding: 10px;
}

#TopBox {
	Width: 100%;
	Height: 15%;
  Padding: 25px 0px;
}

#Top {
  Margin: auto;
	Border: 5px solid #59a285;
  Background-color: #E7ea7e;
	Padding: 20px;
  Font-family: "Trebuchet MS",Tahoma, Verdana;
}

#LogoBox {
  float: left;
	width: 25%;
	height: 100%;
}

#Logo {
  Margin-Right: 20px;
}

#WebNameBox {
	float: left;
	Width: 50%;
	height: 100%;
  Margin: auto;
}

#WebName {
	Border: 2px solid #59a285;
	Background-color: #A9b8e0;
	Text-align: Center;
}

#SearchBox {
	float: right;
	width: 25%;
	height: 100%;
}

#SearchBar {
  Margin-Left: 20px;
	border: 2px solid #59a285;
	background-color: #A9b8e0;
	padding-top: 0px;
  Text-align: Center;
}
	
#MainBodyBox {
	Float: left;
	Width: 80%;
	Height: 70%;
}

#MainBody {
  Position: relative;
	Height: 100%;
	Margin-right: 20px;
	Border: 5px solid #59a285;
  Background-color: #E7ea7e;
	Padding: 20px;
  Overflow: auto;
}

#MainBody h1 {
  Margin: 0px;
}

#MainBody span{
  Font-weight: bold;
}

#Header {
 Width: 90%;
 Margin: 0px auto;
 Padding: 5px;
 Border: 2px solid #59a285;
	Background-color: #A9b8e0;
 Text-align: Center;
}

#Header img {
  Width: 170px;
  Height: 135px;
}

#History {
  Margin-top:10px;
}

#History > div > *, #History h1 {
  Border: 2px solid #59a285;
	Background-color: #A9b8e0;
  padding:10px;
  text-indent: 20px;
}

#History > div {
  Margin: 10px 0px;
}

#History p{
  Margin: 0px;
}

#HisImg1{
  width: 45%;
  float:right;
}

#His1 {
  Float:left;
  width: 50%;
}

#HisImg2{
  width: 45%;
  float:left;
}

#His2 {
  Float: right;
  width: 50%;
}

#Tips {
  Margin-top:10px;
}

#Tips > div > *, #Tips h1{
  Border: 2px solid #59a285;
	Background-color: #A9b8e0;
  padding:10px;
  text-indent: 20px;
}

#Tips > div {
  Margin: 10px 0px;
}

#Tips p{
  Margin: 0px;
}

#TipsImg1{
  width: 50%;
  float:right;
}

#Tips1 {
  Float:left;
  width: 45%;
}

#TipsImg2{
  width: 50%;
  float:left;
}

#Tips2 {
  Float: right;
  width: 45%;
}



#SideBarBox {
	Float: Right;
	Width: 20%;
	Height: 70%;
}

#SideBar {
	Height: 100%;
	Margin-left: 20px;
	Border: 5px solid #59a285;
  Background-color: #E7ea7e;
	Padding: 20px;
	Text-align: Center;
  Overflow: auto;
}

#Nav {
	Border-Bottom: 5px solid #59a285;
	Display:block;
}

#Nav h4 {
  margin: 0px;
}

#Nav a:hover, #References a:hover {
  font-size: 1.2em;
   color: #Fdb5bd;
}

#BottomBox {
  width: 100%;
  height: 15%;
  Padding: 10px 0px;
}

#Bottom {
  Height: 100%;
	Border: 5px solid #59a285;
  Background-color: #E7ea7e;
	Padding: 20px;
}

#ShareWeb h4 {
  Display: Inline-block;
  Margin: 5px;
  Border: 2px solid #59a285;
  Background-color: #A9b8e0;
  Padding: 5px;
}

#ContactInfo h4 {
  
  Margin: 5px;
  Border: 2px solid #59a285;
  Background-color: #A9b8e0;
  Padding: 5px;
}

#Copyright {
  Text-align: Center;
}
#Copyright h4 {
  Display: Inline-block;
  Margin: 5px;
  Border: 2px solid #59a285;
  Background-color: #A9b8e0;
  Padding: 2px;
}



#Copyright a:hover{
  background-color: #59a285;
}
